---
interface Role {
  title: string;
  period: string;
  description: string;
}

interface Organization {
  name: string;
  url?: string;
  roles: Role[];
}

const organizations: Organization[] = [
  {
    name: "Orchestra of the Music Makers",
    url: "https://orchestra.sg",
    roles: [
      {
        title: "Tech Lead",
        period: "Nov 2019 - now",
        description: "I build tools to improve orchestra management workflows.",
      },
      {
        title: "Board Member",
        period: "Nov 2020 - Oct 2023",
        description: "I supported administrative and concert operations.",
      },
    ],
  },
  {
    name: "The Philharmonic Orchestra",
    url: "https://www.tpo.org.sg/",
    roles: [
      {
        title: "Orchestra Management",
        period: "Sept 2018 - Nov 2019",
        description:
          "I recruited a new management committee and led several projects.",
      },
    ],
  },
  {
    name: "Singapore University of Technology and Design",
    url: "https://www.sutd.edu.sg/",
    roles: [
      {
        title: "ISTD Alumni Advisory Board Chair",
        period: "July 2024 - now",
        description: "I recruited members for the board.",
      },
      {
        title: "Alumni Association Secretary",
        period: "Jan 2019 - Sept 2019",
        description:
          "I assembled the founding committee and led the pilot fundraiser, which raised $100,000.",
      },
    ],
  },
];
---

<div id="volunteering">
  <h2>Volunteering</h2>
  <ul>
    {
      organizations.map((org) => (
        <li>
          {org.url ? (
            <a href={org.url} target="_blank">
              <strong>{org.name}</strong>
            </a>
          ) : (
            <strong>{org.name}</strong>
          )}
          <ul>
            {org.roles.map((role) => (
              <li>
                <strong>{role.title}</strong>
                <br />
                <weak>{role.period}</weak>
                <p>{role.description}</p>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</div>
