---
import * as arup from "../../content/resume/jobs/arup.md";
import * as motional_1 from "../../content/resume/jobs/motional_1.md";
import * as motional_2 from "../../content/resume/jobs/motional_2.md";
import * as bifrost from "../../content/resume/jobs/bifrost.md";

interface Job {
  title: string;
  period: string;
  description: string;
}

interface Company {
  name: string;
  url: string;
  jobs: Job[];
}

// Helper function to convert markdown job data to Job object
const createJob = async (jobData: any): Promise<Job> => {
  return {
    title: jobData.frontmatter.title,
    period: jobData.frontmatter.period,
    description: await jobData.compiledContent(),
  };
};

const companies: Company[] = [
  {
    name: "Bifrost",
    url: "https://bifrost.ai",
    jobs: [await createJob(bifrost)],
  },
  {
    name: "Motional",
    url: "https://motional.com",
    jobs: [await createJob(motional_2), await createJob(motional_1)],
  },
  {
    name: "Arup",
    url: "https://arup.com",
    jobs: [await createJob(arup)],
  },
];
---

<div id="work">
  <h2>Work</h2>
  <ul>
    {
      companies.map((company) => (
        <li>
          <a href={company.url} target="_blank">
            <strong>{company.name}</strong>
          </a>
          <ul>
            {company.jobs.map((job) => (
              <li>
                <strong>{job.title}</strong>
                <br />
                <weak>{job.period}</weak>
                <p set:html={job.description} />
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</div>
